/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 77px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #E9E9E9;
}

.container {
  width: auto;
  max-width: 1700px;
  padding: 0 15px;
}
#buttons {
	width: 380px;
	padding: 6px;
}

.person {
	padding: 15px 22px;
	font-size: 70px;
	border-radius: 6px;
	margin: 10px 5px 10px 5px;
}

.panel-body {
	font-size: 80px;
	
}

.btn-xl {
	padding: 15px 22px;
	font-size: 24px;
	border-radius: 6px;
	margin: 0 5px 0 5px;
}

.btn-letter {
	width:185px;
	padding: 0px 22px;
	font-size: 150px;
	line-height: 1.33;
	border-radius: 6px;
	margin: 10px 10px 10px 10px;
}
